.main-content-project {
  height: fit-content;
  padding: 48px 96px;
}

body.dark-mode .main-content-project {
  background-color: #0f1621;
}

.project-header {
  margin-bottom: 32px;
  width: 650px;
}

.project-header span {
  font-size: 42px;
  color: rgb(52, 52, 52);
}

body.dark-mode .project-header span {
  color: #cccccc;
}

.syntax-highlighter::-webkit-scrollbar {
  width: 0.5rem;
}

.syntax-highlighter::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-clip: padding-box;
  border: 2px solid transparent;
  background-color: white;
}

body.dark-mode .syntax-highlighter {
  color: #333537;
}

.project-screenshots-wrapper {
  display: flex;
  margin-top: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid rgb(184, 184, 184);
  border-bottom: 1px solid rgb(184, 184, 184);
}

.project-subheader {
  margin: 24px 0px;
  align-self: flex-start;
  color: rgb(52, 52, 52);
}

body.dark-mode .project-subheader {
  color: #b2b2b2;
}

.project-subheader-conclusion {
  width: 90%;
  margin-top: 0px;
  align-self: center;
}

.project-screenshot {
  max-width: 100%;
  width: fit-content;
  margin-bottom: 48px;
}

.project-conclusion {
  display: flex;
  margin-top: 36px;
  align-items: center;
  flex-direction: column;
}

.project-subconclusion {
  width: 90%;
  margin-bottom: 12px;
}

.project-subconclusion:nth-of-type(3) {
  margin-bottom: 24px;
}

.project-subconclusion-title {
  font-weight: bold;
  color: rgb(52, 52, 52);
}

body.dark-mode .project-subconclusion-title {
  color: #7f7f7f;
}

.project-subconclusion-description {
  margin-top: 5px;
  font-family: "Fira Mono", monospace;
}

.project-card-button {
  width: calc(90% - 60px);
  margin-bottom: 0px !important;
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .main-content-project {
    padding: 48px 72px;
  }
}

@media (max-width: 1024px) and (min-width: 767px) {
  .main-content-project {
    padding: 48px 36px;
  }

  .project-header, .project-subheader {
    text-align: center;
    width: 100%;
  }

  .project-conclusion {
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .main-content-project {
    padding: 24px 30px 36px 30px;
  }

  .project-header, .project-subheader {
    text-align: center;
    width: 100%;
  }

  .project-conclusion {
    margin-top: 24px;
  }
}
