.terminal-card {
  margin-bottom: 0px;
  height: 100%;
}

.terminal-cards-row {
  display: flex;
  min-height: 250px;
  flex-direction: row;
  margin-bottom: 36px;
  height: max-content;
  justify-content: space-between;
}

@media (max-width: 1439px) and (min-width: 1024px) {

}

@media (max-width: 1024px) and (min-width: 767px) {
  .terminal-card {
    margin-bottom: 24px;
  }
  
  .terminal-cards-row {
    margin-bottom: 0px;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .terminal-card {
    margin-bottom: 24px;
  }

  .terminal-cards-row {
    margin-bottom: 0px;
    flex-direction: column;
  }
}