.homepage {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homepage-main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: fit-content;
}

body.dark-mode .homepage-main {
  background: #0f1621;
}

.homepage-avatar {
  width: 250px;
  height: 250px;
  margin-right: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.homepage-intro {
  display: flex;
  flex-direction: column;
}

.homepage-header-name {
  color: white;
  display: block;
  font-weight: 100;
  text-align: center;
  line-height: 1.6em;
  letter-spacing: 0.32em;
  text-transform: uppercase;
}

.homepage-header-job {
  display: block;
  font-weight: 500;
  text-align: center;
  line-height: 1.4em;
  word-spacing: -0.08em;
  letter-spacing: -0.04em;
  color: rgb(52, 52, 52);
  font-family: "Roboto Mono", monospace;
}

body.dark-mode .homepage-header-job {
  color: #b2b2b2;
}

.homepage-header-description {
  text-align: center;
  line-height: 1.6em;
  font-family: "Fira Mono", monospace;
}

body.dark-mode .homepage-header-description {
  color: #7f7f7f;
}

.homepage-header-nav {
  text-align: center;
}

.homepage-header-navlink {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4em;
  text-align: center;
  white-space: nowrap;
  border-style: solid;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.08em;
  color: rgb(52, 52, 52);
  border-width: 0px 0px 2px;
  text-transform: uppercase;
  border-color: rgb(52, 52, 52);
  transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
}

body.dark-mode .homepage-header-navlink {
  color: #cccccc;
  border-color: #cccccc;
}

.homepage-footer {
  display: flex;
  line-height: 1.6em;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  min-height: fit-content;
  background-color: white;
  padding-top: calc(48px + (16 * (100vw - 320px)) / 1120);
  padding-bottom: calc(48px + (16 * (100vw - 320px)) / 1120);
}

.homepage-footer-wrapper {
  line-height: 1.6em;
}

.homepage-footer-title {
  display: block;
  font-weight: 500;
  line-height: 1.6em;
  word-spacing: -0.04em;
  color: rgb(52, 52, 52);
  font-family: "Roboto Mono", monospace;
}

.homepage-footer-description {
  line-height: 1.6em;
}

@media screen and (min-width: 1440px) {
  .homepage-header-job {
    font-size: 42px !important;
  }

  .homepage-header-description {
    font-size: 26px !important;
  }

  .homepage-header-navlink {
    margin-right: 48px !important;
  }
}

@media (max-width: 1024px) and (min-width: 850px) {
  .homepage-avatar {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 850px) and (min-width: 767px) {
  .homepage-main {
    flex-direction: column;
    justify-content: center;
  }

  .homepage-avatar {
    margin-right: unset;
    margin-bottom: 48px;
  }
}

@media (max-width: 767px) {
  .homepage-main {
    flex-grow: unset;
    flex-direction: column;
    padding-top: calc(12px + (16 * (100vw - 320px)) / 1120);
    padding-bottom: calc(48px + (16 * (100vw - 320px)) / 1120);
  }

  .homepage-avatar {
    width: 150px;
    height: 150px;
    margin-right: unset;
    margin-bottom: 36px;
  }
}

@media (min-width: 768px) {
  .homepage-main {
    padding-left: calc(48px + (24 * (100vw - 320px)) / 1120) !important;
    padding-right: calc(48px + (24 * (100vw - 320px)) / 1120) !important;
  }

  .homepage-intro {
    max-width: 580px;
  }

  .homepage-header-name, .homepage-header-job, .homepage-header-description, .homepage-header-nav {
    text-align: left;
  }

  .homepage-footer {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .homepage-main {
    padding-left: calc(24px + (8 * (100vw - 320px)) / 1120);
    padding-right: calc(24px + (8 * (100vw - 320px)) / 1120);
  }

  .homepage-intro-h1 {
    margin-bottom: calc(24px + (8 * (100vw - 320px)) / 1120);
  }

  .homepage-header-name {
    font-size: calc(14px + (2 * (100vw - 320px)) / 1120);
    margin-bottom: calc(24px + (8 * (100vw - 320px)) / 1120);
  }

  .homepage-header-job {
    font-size: calc(28px + (14 * (100vw - 320px)) / 1120);
  }

  .homepage-header-description {
    font-size: calc(18px + (8 * (100vw - 320px)) / 1120);
    margin-bottom: calc(24px + (8 * (100vw - 320px)) / 1120);
  }

  .homepage-header-navlink {
    margin-left: calc(0px + (0 * (100vw - 320px)) / 1120);
    margin-right: calc(12px + (4 * (100vw - 320px)) / 1120);
    padding-bottom: calc(3px + (1 * (100vw - 320px)) / 1120);
    padding-top: calc(3px + (1 * (100vw - 320px)) / 1120);
  }

  .homepage-footer {
    font-size: calc(13px + (2 * (100vw - 320px)) / 1120);
    padding-right: calc(24px + (8 * (100vw - 320px)) / 1120);
    padding-left: calc(24px + (8 * (100vw - 320px)) / 1120);
  }

  .homepage-footer-wrapper {
    font-size: calc(13px + (2 * (100vw - 320px)) / 1120);
  }

  .homepage-footer-title {
    margin-bottom: calc(24px + (8 * (100vw - 320px)) / 1120);
    font-size: calc(18px + (8 * (100vw - 320px)) / 1120);
  }

  .homepage-footer-description {
    font-size: calc(15px + (3 * (100vw - 320px)) / 1120);
  }

  .homepage-footer-ul {
    padding-top: 20px;
    justify-content: center;
    margin-block-end: 0px !important;
  }
}
