.main-content-write-passage {
  display: flex;
  padding: 48px 96px;
  flex-direction: row;
  height: fit-content;
}

.write-passage-left-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.jsx-block-selector {
  height: 44px;
  display: flex;
  margin-bottom: 4px;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  border: 1px solid #999999;
}

.jsx-block-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}

.jsx-block-icon:first-child {
  margin-left: 8px;
}

.jsx-block-icon:not(:last-child) {
  margin-right: 8px;
}

.passage-editor {
  font-size: 24px;
  height: calc(100vh - 152px);
  font-family: "KievitOT", sans-serif;
}

.passage-preview {
  border: 1px solid black;
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .main-content-wne {
    padding: 48px 72px;
  }
}

@media (max-width: 1024px) and (min-width: 767px) {
  .main-content-wne {
    padding: 48px 48px;
  }

  .wne-header {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .main-content-wne {
    padding: 30px 24px 48px 24px;
  }

  .wne-header {
    text-align: center;
    width: 100%;
  }
}
