.root {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.main-content {
  width: calc(100% - 260px);
}

@media (max-width: 767px) {
  .main-content {
    top: calc(60px + (4 * (100vw - 320px)) / 1120 * 2);
    width: 100%;
    height: calc(100% - (60px + (4 * (100vw - 320px)) / 1120 * 2));
    position: absolute;
  }

  .main-content-scrolled {
    top: calc(44px + (1 * (100vw - 320px)) / 1120 * 2) !important;
    height: calc(100% - (44px + (1 * (100vw - 320px)) / 1120 * 2)) !important;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .main-content {
    width: calc(100% - 280px);
  }
}

@media (min-width: 1440px) {
  .main-content {
    width: calc(100% - 300px);
  }
}
