.root {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.main-content {
  width: calc(100% - 260px);
}

@media (max-width: 767px) {
  .main-content {
    top: 64px;
    width: 100%;
    height: calc(100% - 64px);
    position: absolute;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .main-content {
    width: calc(100% - 280px);
  }
}

@media (min-width: 1440px) {
  .main-content {
    width: calc(100% - 300px);
  }
}
