.sidebar {
  top: 0px;
  left: 0px;
  margin: 0;
  bottom: 0px;
  z-index: 500;
  width: 260px;
  display: flex;
  font: inherit;
  box-sizing: border-box;
  padding: 48px 0px 32px;
  flex-direction: column;
  vertical-align: baseline;
  background-color: black;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .sidebar {
    width: 280px;
  }
}

@media (min-width: 1440px) {
  .sidebar {
    width: 300px;
  }
}

.sidebar-top {
  flex: 0 0 25%;
  padding: 0px 32px;
}

body.dark-mode .sidebar-logo {
  display: none;
}

.sidebar-logo-dark-mode {
  display: none;
}

body.dark-mode .sidebar-logo-dark-mode {
  display: unset;
}

.sidebar-top-divider {
  height: 0px;
  clear: both;
  width: 100%;
  margin-top: 8px;
  position: relative;
  margin-bottom: 8px;
  border-width: 0 0 2px;
  background: transparent;
  border-color: transparent;
}

.sidebar-top-subtitle {
  font-size: 15px;
  line-height: 1.6em;
  font-family: Rubik, Arial, sans-serif;
}

body.dark-mode .sidebar-top-subtitle {
  color: #b2b2b2;
}

.sidebar-middle {
  flex: 0 0 50%;
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  justify-content: center;
}

.sidebar-ul {
  list-style: none;
  margin-block-end: 16px;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

.sidebar-li {
  margin: 0.8vh 0px;
}

.sidebar-bottom {
  flex: 0 0 25%;
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  justify-content: flex-end;
}

.sidebar-bottom-email {
  font-size: 15px;
  line-height: 1.6em;
}

body.dark-mode .sidebar-bottom-email {
  color: #b2b2b2;
}

.sidebar-bottom-ul {
  display: flex;
  flex-direction: row;
}

.sidebar-bottom-li-a {
  color: black;
  text-decoration: none;
}

body.dark-mode .sidebar-icon {
  color: #b2b2b2;
}
