.sidebar {
  top: 0px;
  left: 0px;
  margin: 0;
  bottom: 0px;
  z-index: 500;
  width: 260px;
  display: flex;
  font: inherit;
  box-sizing: border-box;
  padding: 48px 0px 32px;
  flex-direction: column;
  vertical-align: baseline;
  background-color: white;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .sidebar {
    width: 280px;
  }
}

@media (min-width: 1440px) {
  .sidebar {
    width: 300px;
  }
}

.sidebar-top {
  flex: 0 0 25%;
  padding: 0px 32px;
}

.sidebar-top-title {
  font-size: 24px;
  line-height: 36px;
  white-space: normal;
  border-style: solid;
  border-width: 0 0 2px;
  color: rgb(52, 52, 52);
  border-color: transparent;
  transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
}

.sidebar-top-divider {
  height: 0px;
  clear: both;
  width: 100%;
  margin-top: 8px;
  position: relative;
  margin-bottom: 8px;
  border-width: 0 0 2px;
  background: transparent;
  border-color: transparent;
}

.sidebar-top-subtitle {
  font-size: 15px;
  line-height: 1.6em;
  font-family: Rubik, Arial, sans-serif;
}

.sidebar-middle {
  flex: 0 0 50%;
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  justify-content: center;
}

.sidebar-ul {
  list-style: none;
  margin-block-end: 16px;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

.sidebar-li {
  margin: 0.8vh 0px;
}

.sidebar-li-a {
  font-size: 20px;
  padding: 4px 0px;
  line-height: 2em;
  color: currentColor;
  border-style: solid;
  text-decoration: none;
  letter-spacing: 0.08em;
  border-width: 0px 0px 2px;
  border-color: transparent;
  text-transform: uppercase;
  transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
}

.sidebar-li-a:hover {
  font-weight: 500;
  border-color: black;
  color: rgb(52, 52, 52);
}

.sidebar-bottom {
  flex: 0 0 25%;
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  justify-content: flex-end;
}

.sidebar-bottom-email {
  font-size: 15px;
  line-height: 1.6em;
}

.sidebar-bottom-ul {
  display: flex;
  flex-direction: row;
}

.sidebar-bottom-li-a {
  color: black;
  text-decoration: none;
}

.sidebar-icon {
  font-size: 20px;
  margin-left: 8px;
}
