@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  overflow-y: hidden;
  font-family: Rubik, Arial, sans-serif;
}

body {
  margin: 0px;
  height: 100%;
  color: rgb(105, 105, 105);
}

body::-webkit-scrollbar {
  display: none;
}

/* @media (max-width: 767px) {
  body {
    overflow-y: auto;
  }
} */

body.dark-mode {
  background: #0f1621;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

*::-webkit-scrollbar {
  display: none;
}

.custom-link {
  font-size: 20px;
  padding: 4px 0px;
  line-height: 2em;
  color: currentColor;
  border-style: solid;
  text-decoration: none;
  letter-spacing: 0.08em;
  border-width: 0px 0px 2px;
  border-color: transparent;
  text-transform: uppercase;
  transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
}

body.dark-mode .custom-link {
  color: #b2b2b2;
}

.custom-link:hover, .custom-link-active {
  font-weight: 500;
  border-color: black;
  color: rgb(52, 52, 52);
}

body.dark-mode .custom-link:hover, body.dark-mode .custom-link-active {
  border-color: #cccccc;
  color: #cccccc !important;
}

.post-title {
  width: 100%;
  color: #e8e8e8;
  padding: 14px 0px;
  height: fit-content;
  box-sizing: border-box;
}

.post-date {
  width: 100%;
  color: #bebebe;
  height: fit-content;
  box-sizing: border-box;
}

.post-description {
  color: #bebebe;
  padding: 14px 0px;
  height: fit-content;
  box-sizing: border-box;
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .post-title {
    font-size: calc(12px + (14 * (100vw - 192px)) / 1232);
  }
}

@media (max-width: 767px) {
  .post-title {
    font-size: 24px;
  }
}

.zoom:hover {
  transform: scale(1.05);
}

.skew-left {
  transform: skewY(-10deg);
}

.skew-left-half {
  transform: skewY(-5deg);
}

.skew-left-quarter {
  transform: skewY(-2.5deg);
}

.skew-right {
  transform: skewY(10deg);
}

.skew-right-half {
  transform: skewY(5deg);
}

.skew-right-quarter {
  transform: skewY(2.5deg);
}
 
.container-fluid .row {
  padding-top: 6rem;
}

.timeline-element-title {
  margin-bottom: 10px;
}

.timeline-element-description {
  font-weight: normal !important;
}

.vertical-timeline-element-date {
  font-weight: bold !important;
}

body.dark-mode .vertical-timeline-element-date {
  color: #7f7f7f;
}

.vertical-timeline * {
  box-sizing: border-box;
}

.vertical-timeline {
  width: 95%;
  margin: 0 auto;
  padding: 40px 0px;
  position: relative;
}

.vertical-timeline::after {
  content: '';
  clear: both;
  display: table;
}

.vertical-timeline::before {
  top: 0;
  width: 4px;
  left: 18px;
  content: '';
  height: 100%;
  position: absolute;
  background: black;
  box-shadow: 4px 4px 5px grey;
}

@media only screen and (min-width:1170px) {
  .vertical-timeline.vertical-timeline--two-columns {
    width: 90%;
  }
  .vertical-timeline.vertical-timeline--two-columns:before {
    left: 50%;
    margin-left: -2px;
  }
}

.vertical-timeline-element {
  position: relative;
  margin: 2em 0px;
}

.vertical-timeline-element > div {
  min-height: 1px;
}

.vertical-timeline-element:after {
  content: "";
  display: table;
  clear: both;
}

.vertical-timeline-element:first-child {
  margin-top: 0;
}

.vertical-timeline-element:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width:1170px) {
  .vertical-timeline-element {
    margin: 4em 0px;
  }
  .vertical-timeline-element:first-child {
    margin-top: 0px;
  }
  .vertical-timeline-element:last-child {
    margin-bottom: 0px;
  }
}

.vertical-timeline-element-icon {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
}

.vertical-timeline-element-icon svg {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

@media only screen and (min-width:1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
  }
}

.vertical-timeline-element-icon {
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.vertical-timeline--animate .vertical-timeline-element-icon.is-hidden {
  visibility: hidden;
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-1 .6s;
  -moz-animation: cd-bounce-1 .6s;
  animation: cd-bounce-1 .6s;
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.vertical-timeline-element-content {
  position: relative;
  margin-left: 60px;
  background:#fff;
  border-radius: .25em;
  padding: 1em;
  box-shadow: 2px 4px 10px grey;
}

body.dark-mode .vertical-timeline-element-content {
  background-color: #e5e5e5;
}

.vertical-timeline-element--no-children .vertical-timeline-element-content {
  background: 0 0;
  box-shadow: none;
}

.vertical-timeline-element-content:after {
  content: "";
  display: table;
  clear: both;
}

.vertical-timeline-element-content h2 {
  color:#303e49;
}

.vertical-timeline-element-content .vertical-timeline-element-date, .vertical-timeline-element-content p{
  font-size: 13px;
  font-weight: 500
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  display: inline-block;
}

.vertical-timeline-element-content p {
  margin: 1em 0 0;
  line-height: 1.6;
}

.vertical-timeline-element-title {
  margin: 0;
}

.vertical-timeline-element-subtitle {
  margin: 0;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

.vertical-timeline-element-content-arrow {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #fff;
}

.vertical-timeline-element--no-children .vertical-timeline-element-content-arrow {
  display: none;
}

@media only screen and (min-width:768px) {
  .vertical-timeline-element-content h2 {
    font-size: 20px;
  }
  .vertical-timeline-element-content p {
    font-size: 16px;
  }
  .vertical-timeline-element-content .vertical-timeline-element-date{
    font-size: 14px;
  }
}

@media only screen and (min-width:1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    margin-left: 0;
    padding: 1.5em;
    width: 44%;
  }
  .vertical-timeline--two-columns .vertical-timeline-element-content-arrow {
    top: 24px;
    left: 100%;
    transform: rotate(180deg);
  }
  .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
    position: absolute;
    width: 100%;
    left: 130%;
    top: 6px;
    font-size: 20px;
  }
  .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content,.vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content {
    float: right;
  }
  .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content-arrow,.vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content-arrow {
    top: 24px;
    left: auto;
    right: 100%;
    transform: rotate(0);
  }
  .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date,.vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
    left: auto;
    right: 130%;
    text-align: right;
  }
}

.vertical-timeline--animate .vertical-timeline-element-content.is-hidden {
  visibility: hidden;
}

.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-2 .6s;
  -moz-animation: cd-bounce-2 .6s;
  animation: cd-bounce-2 .6s;
}

@media only screen and (min-width:1170px) {
  .vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content.bounce-in,.vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse .6s;
    -moz-animation: cd-bounce-2-inverse .6s;
    animation: cd-bounce-2-inverse .6s;
  }
}

@media only screen and (max-width:1169px) {
  .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2-inverse .6s;
    -moz-animation: cd-bounce-2-inverse .6s;
    animation: cd-bounce-2-inverse .6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px)
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px)
  }
  100% {
    -webkit-transform :translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100%{
    -webkit-transform:translateX(0);
  }
}

@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
