.medium-container {
  width: 100%;
  min-width: 0px;
  max-width: 680px;
  margin: 0px 64px;
}

@media (max-width: 904px) and (min-width: 728px) {
  .medium-container {
    margin: 0px 48px;
  }
}

@media (max-width: 728px) {
  .medium-container {
    margin: 0px 24px;
  }
}
