.medium-title {
  margin: 0;
  font-style: normal;
  letter-spacing: 0px;
  word-break: break-word;
  margin-bottom: -0.27em;
  color: rgba(41, 41, 41, 1);
  font-family: "KievitOT", sans-serif;
}

.medium-subtitle {
  margin: 0;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0px;
  word-break: break-word;
  margin-bottom: -0.42em;
  color: rgba(117, 117, 117, 1);
  font-family: "KievitOT", sans-serif;
}

.medium-header {
  margin: 0;
  font-weight: 600;
  line-height: 1.12;
  font-style: normal;
  letter-spacing: -0.022px;
  word-break: break-word;
  margin-bottom: -0.28em;
  color: rgba(41, 41, 41, 1);
  font-family: "KievitOT", sans-serif;
}

@media (min-width: 728px) {
  .medium-title {
    font-size: 40px;
    line-height: 48px;
  }

  .medium-subtitle {
    font-size: 24px;
    line-height: 32px;
    margin-top: 12px;
  }

  .medium-header {
    font-size: 28px;
    margin-top: 36px;
  }
}

@media (max-width: 728px) {
  .medium-title {
    font-size: 30px;
    line-height: 40px;
  }

  .medium-subtitle {
    font-size: 18px;
    line-height: 24px;
    margin-top: 12px;
  }

  .medium-header {
    font-size: 22px;
    margin-top: 1.2em;
  }
}
