.medium-normal-text {
  margin: 0px;
  font-weight: 400;
  font-style: normal;
  word-break: break-word;
  letter-spacing: -0.003em;
  color: rgba(41, 41, 41, 1);
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

@media (min-width: 1080px) {
  .medium-normal-text {
    margin-top: 2em;
    font-size: 21px;
    line-height: 32px;
  }
}
