.medium-normal-text {
  margin: 0px;
  font-style: normal;
  word-break: break-word;
  letter-spacing: -0.003em;
  color: rgba(41, 41, 41, 1);
  font-family: "KievitOT", sans-serif;
}

.medium-bold-text {
  font-weight: 900;
}

@media (min-width: 1080px) {
  .medium-normal-text {
    margin-top: 2em;
    font-size: 21px;
    line-height: 32px;
  }
}

@media (max-width: 728px) {
  .medium-normal-text {
    font-size: 18px;
    line-height: 28px;
    margin-top: 1.56em;
  }
}
